/* reset */
.section-title, /* Вместо h2 */
.table__heading, /* Вместо h3 */
.section-subtitle, .table__text /* Вместо p */
{
  margin: 0;
  padding: 0;
}

/* colors */
.kaufman {
  background-color: #1f1f1f;
}

/* text heights */
.section-subtitle {
  line-height: 34px;
}
.section-title, .table__heading {
  line-height: 1.15;
}
.table__text {
  line-height: 1.2;
}

/* text sizes */
.table__text {
  font-size: 18px;
}
.section-subtitle, .table__heading {
  font-size: 24px;
}
.section-title {
  font-size: 60px;
}

/* reusable classes */

.digits,
.kaufman {
  display: flex;
  justify-content: center;
}

.section-title, .section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style-type: none;
}
/* 4/ */
.table__cell {
  width: 250px;
  margin-top: 60px;
}
/* правильно записанный селектор элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}
.section-title_theme_dark, .section-subtitle_theme_dark, .table__heading_theme_dark, .table__text_theme_dark {
  color: white;
}
.section-title, .table__heading, .table__text {
  margin-bottom: 20px;
}
.table__text:last-child {
  margin-bottom: 0;
}

/* Секция, блок digits */
.digits {
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

/* Секция, блок kaufman */
.kaufman {
  padding: 90px 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
/* 7/ */
.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}