/* reset */
.header__title, /* Вместо h1 */
.two-columns__brief, .section-title, .feynman__title, .footer__column-heading, /* Вместо h2 */
.table__heading, /* Вместо h3 */
.header__subtitle, .two-columns__paragraph, .section-subtitle, .table__text, .feynman__subtitle, .footer__author /* Вместо p */
{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* layering */
.background {
  /* remove */
  position: relative;
  z-index: 0;
}
.figure {
  /* remove */
  position: absolute;
  z-index: 1;
}
.illustration {
  /* remove */
  position: absolute;
  z-index: 2;
}
.text {
  /* remove */
  position: relative;
  z-index: 3;
}

/* colors */
.background_theme_light {
  /* remove */
  background-color: white;
}
.background_theme_light_dimmed {
  /* remove */
  background-color: #f2f2f2;
}
.background_theme_dark {
  /* remove */
  background-color: #1f1f1f;
}

.background_figure {
  background-color: #2f80ed;
}

.text_theme_light {
  color: black;
}
.text_theme_dark {
  color: white;
}
.text_highlighted {
  color: #2f80ed;
}

/* text heights */
.text_height_xs {
  /* remove */
  line-height: 25px;
}
.text_height_s {
  /* remove */
  line-height: 30px;
}
.text_height_m {
  /* remove */
  line-height: 34px;
}
.text_height_l {
  /* remove */
  line-height: 51px;
}
.text_height_xl {
  /* remove */
  line-height: 1.15;
}
.text_height_xxl {
  /* remove */
  line-height: 1.2;
}

/* text sizes */
.text_size_s {
  /* remove */
  font-size: 18px;
}
.text_size_m {
  /* remove */
  font-size: 24px;
}
.text_size_l {
  /* remove */
  font-size: 36px;
}
.text_size_xl {
  /* remove */
  font-size: 60px;
}

/* text weights */
.text_normal {
  /* remove */
  font-weight: normal;
}
.text_bold {
  /* remove */
  font-weight: bold;
}

/* links */
.link {
  /* remove */
  text-decoration: none;
}
.link:hover {
  /* rewrite for .link replacement */
  text-decoration: underline;
}

.link_arrowed::after {
  /* remove */
  /* → or &rarr; */
  content: ' \2192';
}

/* container */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* reusable classes */
.logo {
  min-width: 183px;
  min-height: 32px;
  background-repeat: no-repeat;
  z-index: 4;
}

.flex-centered {
  /* remove */
  display: flex;
  justify-content: center;
}

.section-container {
  /* remove */
  margin: 100px 0;
}
.section-title, .section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}
/* 4/ */
.table__cell_size_s {
  /* remove */
  width: 200px;
  margin-top: 80px;
}
.table__cell_size_m {
  /* remove */
  width: 250px;
  margin-top: 60px;
}
.section-title, .table__heading, .table__text {
  margin-bottom: 20px;
}
.table__text:last-child {
  margin-bottom: 0;
}

/* Шапка сайта, блок header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
}
/* 1/ */
.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
}
/* 2/ */
.header__title {
  height: fit-content;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  align-self: center;
  margin-left: 64px;
}
/* 3/ */
.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
}
/* 5/ */
.header__main-illustration {
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
}
/* 6/ */
/* правильный пример записи селектора элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
}

/* Секция, блок description */
/* 1/ */
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
/* 2/ */
.two-columns__brief {
  width: 175px;
  display: flex;
  flex-direction: column;
}
/* 3/ */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}
/* 4-6/ */
.two-columns__paragraph {
  margin-bottom: 30px;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* Секция, блок feynman */
.feynman {
  min-height: 790px;
  padding-top: 100px;
}
.feynman__title, .feynman__subtitle {
  margin: 0 auto;
  text-align: center;
}
/* 1/ */
.feynman__title {
  width: 648px;
  font-size: 120px;
}
/* 2/ */
.feynman__subtitle {
  margin-top: 70px;
}
/* 3 */
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
}
/* 4 */
.feynman__main-illustration {
  bottom: 0;
  left: 0;
}

/* Секция, блок kaufman */
.kaufman {
  overflow: hidden;
}
.kaufman__section-container {
  /* remove */
  margin: 90px 0;
}
/* 6/ */
.kaufman__table-text::after {
  content: '.';
}
/* 7/ */
.kaufman__triangle {
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* правильно записанный селектор элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */

/* Подвал сайта, блок footer */
.footer {
  min-height: 350px;
}
/* 1/ */
.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
/* 2/ */
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
/* 5/ */
.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  height: 35px;
}
/* 6/ */
.footer__author {
  margin: 18px 0;
}
.footer__author::before {
  content: '\00a9\ ';
}
/* 7/ */
.footer__column-heading {
  margin-bottom: 20px;
}
/* 8/ */
.footer__column-links {
  margin-bottom: 16px;
}
/* 10/ */
.footer__column-link {
  display: flex;
  align-items: center;
}
/* 9/ */
.footer__social-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 10px;
  background-repeat: no-repeat;
}
.footer__social-icon_of_fb {
  background-image: url('../images/facebook_color_white.svg');
}
.footer__social-icon_of_vk {
  background-image: url('../images/vk_color_white.svg');
}
.footer__social-icon_of_inst {
  background-image: url('../images/instagram_color_white.svg');
}